/* Google CSS Styles 
font-family: 'PT Sans', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Bree Serif', serif;
font-family: 'Lobster', cursive;
*/

body {
    background-image: url("../img/backgroundWelcomePage.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
  }

h1 {
    color: yellow;
    text-shadow: 1px 1px 2px black, 0 0 25px yellow, 0 0 5px yellow;
    font-size: 100px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
  }

b {
    color: yellow;
    text-shadow: 1px 1px 2px black, 0 0 25px yellow, 0 0 5px yellow;
    font-size: 3em;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
  }

  p {
      text-align: center;
  }

a {
    margin-left: 800px;
    margin-right: auto;
  }

.text1 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px yellow, 0 0 5px yellow;
    font-size: 2em;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
}